.container{
    border:1px solid #d6d9db;
    width:1024px;
}
.header{
    background-image:url('/assets/background/back.jpg') ;
    background-size: cover;
    
    height: 500px;
    padding-top: 34px !important;
   
}
.header .edition{
  text-align: right;
  padding-top:20px;
}
.hfont{
    font-size: 6.5em;
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top:20px !important;
}
.logo{
    height: 100px;
    padding-left:20px;
}

p{
    font-size: 21px;
}
.container{
    background-color:white;
}
.heading{
	text-align:center;
	clear:both;
	padding:15px;
}
h2 { width:100%; text-align:center; border-bottom: 1px solid #9b9c9e; line-height:0.1em; margin:10px 0 20px;font-weight: 900; } 
h2 span { background:#fff; padding:0 10px; }
h3 {
    color:#9c2132;    
    font-weight: 800;
  }
#btn{
	border:2px solid black!important;
	background:white;
    color:black;
    font-size:21px;
	text-decoration: none;
	padding:10px;
}
#sec_img{
    height: 365px;
    width: 100%;
    border-radius: 10px;
}
.sectiondivider{
    padding:20px;
}
#himages{
    height: 365px;
    width: 526px;
}
.eheading{
    float:left;
}
.rcontnet{
    float: right;
}
.edate{
    float:left;
}
.evenue{
    float:left;
}
.footer{
    height: 42px;
    background:#d6d9db;
    text-align: center;
}
.footertext{
    
    text-align: center;
    font-size: 13px;
}
.col-md-12{
    padding-top:10px !important;
}
.eventbtn{
padding-bottom:10px !important;
}
