<nav class="navbar navbar-expand-lg navbar-light bg">
  <div class="container">
      <a class="navbar-brand" href="#">Newsletter</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item active">
            <a class="nav-link" routerLink="/feeds">Home <span class="sr-only">(current)</span></a>
          </li> -->
          <li class="nav-item" *ngIf='!showMenu'> 
              <a routerLink="/login" class="nav-link">Login</a>
          </li>
          <li class="nav-item" *ngIf='!showMenu'>
              <a routerLink="/register" class="nav-link" >Register</a>
          </li>
          <li class="nav-item" *ngIf='showMenu'>
              <a routerLink="/create" class="nav-link" >Create Newsletter</a>
          </li>
          <li class="nav-item" *ngIf='showMenu'>
              <a routerLink="/view" class="nav-link" >View Newsletters</a>
          </li>
          <!-- <li class="nav-item">
            <a (click)='logout()' class="nav-link" >Logout</a>
        </li> -->
          <li class="nav-item dropdown" *ngIf='showMenu'>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              User
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)='logout()' href="javascript:void(0)" >Logout</a>
            </div>
          </li>
        </ul>
      </div>
  </div>
  
</nav>